{% for post in paginator.posts limit:1 %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{ post.title }}</h1>
        <p class="lead my-3">{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>
        <p class="lead mb-0"><a href="{{ site.url }}{{ post.url }}" class="text-white font-weight-bold">Continue
                reading...</a></p>
    </div>
</div>
{% endfor %}
<div class="row mb-2">
    {% for post in paginator.posts offset:1 limit:2 %}
    <div class="col-md-6">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ post.title }}</h3>
                <div class="mb-1 text-muted">{{ post.date | date_to_string }}</div>
                <p class="card-text mb-auto">{{ post.content | markdownify | strip_html | truncatewords: 15 }}</p>
                <a href="{{ site.url }}{{ post.url }}" class="stretched-link">Continue reading</a>
            </div>
            <!-- <div class="col-auto d-none d-lg-block">
                <img width="200" height="250" src="{{ site.url }}{{ post.image }}" />
            </div> -->
        </div>
    </div>

    {% endfor %}
</div>