<div class="panel panel-default">
    <div class="panel-body">
	    <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002040" target="mvppage">
		    <img src="/images/mvplogo.png" alt="MVP" />
	    </a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Translate
    </div>
    <div class="panel-body">
        <div id='MicrosoftTranslatorWidget' class='Dark' style='color:white;background-color:#555555'></div><script type='text/javascript'>setTimeout(function(){{var s=document.createElement('script');s.type='text/javascript';s.charset='UTF-8';s.src=((location && location.href && location.href.indexOf('https') == 0)?'https://ssl.microsofttranslator.com':'http://www.microsofttranslator.com')+'/ajax/v3/WidgetV3.ashx?siteData=ueOIGRSKkd965FeEGM5JtQ**&ctf=False&ui=true&settings=undefined&from=en';var p=document.getElementsByTagName('head')[0]||document.documentElement;p.insertBefore(s,p.firstChild); }},0);</script>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Subscribe
    </div>
    <div class="panel-body">
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=dotnetthoughts', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email address"/>
        </div>
        <input type="submit" class="btn btn-default" value="Subscribe" />
	<input type="hidden" value="dotnetthoughts" name="uri"/><input type="hidden" name="loc" value="en_US"/>
	</form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2446392180502199"
            data-ad-slot="3007017249"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>