<div class="panel panel-default">
    <div class="panel-body">
	    <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002040" target="mvppage">
		    <img src="/images/mvplogo.png" alt="MVP" />
	    </a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Translate
    </div>
    <div class="panel-body">
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, gaTrack: true, gaId: 'UA-12179122-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Subscribe
    </div>
    <div class="panel-body">
        <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=dotnetthoughts', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your email address"/>
        </div>
        <input type="submit" class="btn btn-default" value="Subscribe" />
	<input type="hidden" value="dotnetthoughts" name="uri"/><input type="hidden" name="loc" value="en_US"/>
	</form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body text-center">
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:600px"
            data-ad-client="ca-pub-2446392180502199"
            data-ad-slot="3007017249"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
