---
layout: compress
---
<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" />
  <link href='https://feeds.feedburner.com/dotnetthoughts' rel='alternate' type='application/atom+xml'>
  <meta name="google-site-verification" content="gfDtT8jd3OHpmGe2VJwYDE7G9-xwmpbQVVugKEU-Kp4" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/styles.css" />
  {% seo %}
</head>

<body>
  {% include navbar.html %}
  <main class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        {{ content }}
      </div>
      <aside class="col-md-4 blog-sidebar">
        {% include sidebar.html %}
      </aside>
    </div>
  </main>
  <footer>
    {% include footer.html %}
  </footer>

  {% if page.layout == "post" %}
  <script>
    var images = document.getElementsByTagName("img");
    for (var i = 0; i < images.length; i++) {
      var el = images[i];
      if (!el.getAttribute("class")) {
        el.setAttribute("class", "img-fluid");
      }
    }
  </script>
  <script type="text/javascript">
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://dotnetthoughts.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {% endif %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script id="cookieyes" type="text/javascript"
    src="https://cdn-cookieyes.com/client_data/d78e24c7014f859f0f5b23c8.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>

</html>